@import 'node_modules/bootstrap/scss/bootstrap';

.Carousel {
    //width:640px;
    height:600px;
}

.Carousel > .Carousel.Item > img{
    width:240px;
    height:600px;
}

.header-nav{
    background: rgba(0,0,0,0.4);
}
.header-user{
    height: "100px";
    width: "100px";
}

