@import 'node_modules/bootstrap/scss/bootstrap';

.Carousel {
    //width:640px;
    height:600px;
}

.Carousel > .Carousel.Item > img{
    width:240px;
    height:600px;
}

.header-cart {
    display: inline-flex;
    flex-flow: row nowrap;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
}


