@import 'node_modules/bootstrap/scss/bootstrap';

$carousel-control-width:             15%;
$carousel-indicator-width:           15%;
$carousel-indicator-height:          15%;
$carousel-indicator-hit-area-height: 10px;
$carousel-caption-width:             50%;
